{% extends "base.html" %}
{% load static %}

{% block content %}

<br><br><br>

<h1><strong>Antalya Turu Sayfası</strong></h1>

<br>

<div class="row">

    <div class="col">
        <div class="card" style="width: 50rem; height: 45rem; border-color: turquoise;">
            <img src="{% static 'tatilturapp/antalya1.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong>Tur Rotası Bilgisi</strong></h5>
              <ol>
              <p class="card-text">Turumuz Kurşunlu Şelalesi ile başlayacak , ardından Karaalioğlu Parkı ile devam edecek en son türlü plajlar ile son bulacaktır.</p>
              <p class="card-text">Tur , içinde toplamda 5 yur hocası olacak ve 30 kişilik ekipler halinde gerçekleşecektir.</p>
              </ol>
            </div>
          </div>
    </div>

    <div class="col">
        <div class="card" style="width: 50rem; height: 50rem; border-color: turquoise;">
            <img src="{% static 'tatilturapp/antalya2.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong>Turdaki Dinlenme ve Yemek Yeme Yerleri</strong></h5>
              <ol>
              <p class="card-text">İlk gün dört tane , ikinci gün ve üçüncü gün üç tane ve sonuncu gün de iki tane olmak üzere toplamda on iki tane dinlenme yeri tur içinde olacaktır.</p>
              <p class="card-text">Yemek yeri olarak ise tur içindeki dinlenme yerinde sağlanacak ve her bir mola 1 saat olacaktır.</p>
              </ol>
            </div>
          </div>
    </div>

</div>

<br>

<div class="row">

    <div class="col">
        <div class="card" style="width: 50rem; height: 45rem; border-color: turquoise;">
            <img src="{% static 'tatilturapp/antalya3.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong>Tur Hediyeleri</strong></h5>
              <ol>
              <p class="card-text">Tur bitiminde sizlere turdaki gidilen yerler hakkında bilgi kitapçığı , anahtarlık ve fotoğraf seti gibi bir sürü hediye sağlanacaktır.</p>
              </ol>
            </div>
          </div>
    </div>

    <div class="col">
        <div class="card" style="width: 35rem; border-color: turquoise;">
            <div class="card-body">
                <p class="card-text"><strong>Bu turu satın almak istermisiniz ?</strong></p>
                <ol>
                <p class="card-text"><strong><h3>Fiyat:2.500TL</h3></strong></p>
                </ol>
                <a href="{% url 'tatilturapp:caseantalya' %}" class="btn btn-danger">Satın Al</a>
            </div>
        </div>
    </div>

</div>

<br>

{% endblock %}