{% extends "base.html" %}
{% load static %}

{% block content %}

<br><br><br>

<h1><strong>Bursa Turu Sayfası</strong></h1>

<br>

<div class="row">

    <div class="col">
    <div class="card" style="width: 50rem; height: 45rem; border-color: blue;">
        <img src="{% static 'tatilturapp/bursa1.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><strong>Tur Rotası Bilgisi</strong></h5>
          <ol>
          <p class="card-text">Turumuz Bursa Ulu Camii ile başlayacak , ardından Bursa Atatürk Evi Müzesi ile devam edecek ve en son Bursa Arkeoloji Müzesi ile son bulacaktır.</p>
          <p class="card-text">Tur , içinde toplamda 2 tur hocası olacak ve 30 kişilik ekipler halinde gerçekleşecektir.</p>
          </ol>
        </div>
    </div>
    </div>

    <div class="col">
    <div class="card" style="width: 50rem; height: 45rem; border-color: blue;">
        <img src="{% static 'tatilturapp/bursa2.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><strong>Turdaki Dinlenme ve Yemek Yerleri</strong></h5>
            <ol>
            <p class="card-text">İlk gün üç , diğer gün de iki olmak üzere toplamda beş tane dinlenme yeri tur içinde mevcuttur.</p>
            <p class="card-text">Yemek yeri olarak ise tur içindeki dinlenme yerinde sağlanacak ve her bir mola 1 saat olacaktır.</p>
            </ol>
        </div>
        </div>
    </div>

</div>

<br>

<div class="row">

    <div class="col">
    <div class="card" style="width: 50rem; height: 45rem; border-color: blue;">
        <img src="{% static 'tatilturapp/bursa3.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><strong>Tur Hediyeleri</strong></h5>
          <ol>
            <p class="card-text">Tur bitiminde sizlere turdaki gidilen yerler hakkında bilgi kitapçığı , anahtarlık ve bileklik gibi bir sürü hediye sağlanacaktır.</p>
          </ol>
        </div>
      </div>
      </div>

      <div class="col">
            <div class="card" style="width: 35rem; border-color: blue;">
              <div class="card-body">
                <p class="card-text"><strong>Bu turu satın almak istermisiniz ?</strong></p>
                <ol>
                <p class="card-text"><strong><h3>Fiyat:1.500TL</h3></strong></p>
                </ol>
                <a href="{% url 'tatilturapp:casebursa' %}" class="btn btn-danger">Satın Al</a>
              </div>
            </div>
      </div>

</div>

<br>

{% endblock %}