{% extends "base.html" %}
{% load static %}

{% block content %}

<br><br><br>

<h1><strong>Trabzon Turu Sayfası</strong></h1>

<br>

<div class="row">

<div class="col">
<div class="card" style="width: 50rem; height: 45rem; border-color: gold;">
    <img src="{% static 'tatilturapp/trabzon1.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><strong>Tur Rotası Bilgisi</strong></h5>
      <ol>
      <p class="card-text">Turumuz Sümela Manastırı ve Trabzon Kalesi ile başlayacak ardından Altındere Vadisi Milli Parkı ve çeşitli plajlar ile son bulacaktır.</p>
      <p class="card-text">Tur , içinde toplamda 3 tur hocası olacak ve 20 kişilik ekipler halinde gerçekleşecektir.</p>
      </ol>
    </div>
  </div>
</div>

<div class="col">
    <div class="card" style="width: 50rem; height: 45rem; border-color: gold;">
        <img src="{% static 'tatilturapp/trabzon2.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><strong>Turdaki Dinlenme ve Yemek Yeme Yerleri</strong></h5>
          <ol>
          <p class="card-text">İlk gün iki tane ve ikinci gün de üç tane olmak üzere toplamda beş tane dinlenme yeri tur içinde olacaktır.</p>
          <p class="card-text">Yemek yeri olarak ise tur içindeki dinlenme yerinde sağlanacak ve her bir mola 1 saat olacaktır.</p>
          </ol>
        </div>
      </div>
</div>

</div>

<br>

<div class="row">

    <div class="col">
        <div class="card" style="width: 50rem; height: 45rem; border-color: gold;">
            <img src="{% static 'tatilturapp/trabzon3.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong>Tur Hediyeleri</strong></h5>
              <ol>
              <p class="card-text">Tur bitiminde sizlere turdaki gidilen yerler hakkında bilgi kitapçığı , anahtarlık ve bileklik gibi bir sürü hediye sağlanacaktır.</p>
              </ol>
            </div>
          </div>
    </div>

    <div class="col">
        <div class="card" style="width: 35rem; border-color: gold;">
            <div class="card-body">
                <p class="card-text"><strong>Bu turu satın almak istermisiniz ?</strong></p>
                <ol>
                <p class="card-text"><strong><h3>Fiyat:1.500TL</h3></strong></p>
                </ol>
                <a href="{% url 'tatilturapp:casetrabzon' %}" class="btn btn-danger">Satın Al</a>
            </div>
        </div>
    </div>

</div>

<br>

{% endblock %}